
/* 动态样式 */
/* 谷歌 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; 
}
.beterr .el-message-box__header{
  display: none!important;
}
/* 火狐 */
input{
    -moz-appearance:textfield;
}  
.dice ul{
  padding-bottom: 2rem;
}
.dice .backgroundColor{
  background: #E65545!important;
  color: white!important;
}
.dice .slotMaskC{
  background: rgba(0,0,0,.8);
  display: inline-block!important;
}

@keyframes moreGame{
  from{opacity: 0;}
  25%{opacity: 0.3;}
  50%{opacity: 0.6;}
  75%{opacity: 0.9;}
  to{opacity: 1;}
}
.dice .morwGame1{
  position: absolute;
  left: -30%;
  transition-duration: 0.5s;
}


/* 蒙版弹框 */
.dice .dicex100_Mask{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 30006!important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dice .dicex100_Mask .showContent{
  width: 80%;
  position: relative;
}
.dice .dicex100_Mask .showRule{
  width: 100%;
}
.dice .dicex100_Mask .showClose{
  width: 3rem;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}
/* ----------------------------------- */

.bounceIn1{
  animation: bounceIn1 1s linear forwards;
}
.bounceIn2{
  animation: bounceIn1 0.4s linear forwards;
}
.bounceIn3{
  animation: bounceIn1 1.5s linear forwards;
}
@keyframes bounceIn1 {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}



/* 排行榜动态样式 */
.dice .rankingListState{
  color: #E65545!important;
  background-image: none!important;
  -webkit-text-fill-color:#E65545!important;
}
.dice .rankingListState1{
  background: #e65545!important;
}
.dice .rankingList{
  background-image:-webkit-linear-gradient(top,#F9E7AE,#E1B344); 
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent; 
  display: inline-block;
}
.dice .redLeft{
  background: url('../images/dice/goanniuRL.png')no-repeat;
}
.dice .blackRight{
  background: url('../images/dice/goanniuBR.png')no-repeat;
}
.dice .redRight{
  background: url('../images/dice/goanniuRR.png')no-repeat;
  margin-left: -2px;
}
.dice .blackLeft{
  background: url('../images/dice/goanniuBL.png')no-repeat;
}


/* 整体背景 */
.dice{
  width: 100%;
  background: #171E24;
  line-height: normal!important;
}
.dice .content{
  width: 100%;
  padding-top: 5.81rem;
  font-family: 'xx'!important;
  background: url('../images/dice/dice_bg.png') repeat;
}

/* 字体特效 */
.dice  .luckedNum{
  background-image:-webkit-linear-gradient(top,#e2b755,#eacb78,#f9f1b6,#a9712b,#deb252);
  -webkit-background-clip:text; 
  -webkit-text-fill-color:transparent; 
}


/* 第一大部分 */
.dice .content .topLuckyNum{
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  font-size: 0;
}
.dice .content .topLuckyNum .ekdGame{
  width: 100%;
  position: absolute;
}
/* 第一大部分左1部分 */
.dice .content .topLuckyNum .ekdGame .firstMoreGame{
  width: 6.5rem;
  margin-left: 1rem;
  margin-top: 0.78rem;
  vertical-align: middle;
  position: relative;
  z-index: 120;
}
.dice .content .topLuckyNum .ekdGame .moreGameDiv{
  width: 100%;
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0;
}
.dice .content .topLuckyNum .ekdGame .moreGameDiv1{
  background: rgba(0,0,0,.8);
}
.dice .content .topLuckyNum .ekdGame .moreGameImg{
  width: 89%;
  height: 7rem;
  position: absolute;
  top: -0.07rem;
  left: 11%;
  /* background: rgba(240, 100, 100, 0.8); */
  overflow: hidden;
}
.dice .content .topLuckyNum .ekdGame img{
  width:100%;
}
.dice .content .topLuckyNum .moreGameDiv img{
  width: 10.1rem;
  height: 5.4rem;
  position: absolute;
  top: 1rem;
  left: 0;
  /* border: 5px solid red; */
}
.dice .content .topLuckyNum .moreGameDiv span{
  width: 5rem;
  height: 5.4rem;
  position: absolute;
  top: 1.1rem;
  left:2.9rem;
  font-size:1.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color:#EA5446;
  z-index: 130;
}
.dice .content .topLuckyNum .moreGameDiv .twoDiv span{
  left:2.9rem;
  z-index: 130;
}
.dice .content .topLuckyNum .moreGameDiv .threeDiv span{
  left:2.9rem;
  z-index: 130;
  margin-left: 0.5rem;
}
.dice .content .topLuckyNum .moreGameDiv .fourDiv span{
  left:2.9rem;
  z-index: 130;
  margin-left: 0.5rem;
}
.dice .content .topLuckyNum .moreGameDiv  .gameColor1{
  z-index: 100;
}
.dice .content .topLuckyNum .moreGameDiv  .gamebg1{
  width: 11.3rem;
  height: 7.4rem;
  z-index: 101;
  top: 0rem;
  left: 0;
}
.dice .content .topLuckyNum .moreGameDiv  .gameCnImg{
  width: 2.5rem;
  height: auto;
  position: absolute;
  left: 4rem;
  top: 2.1rem;
  z-index: 201;
}
.dice .content .topLuckyNum .moreGameDiv  .gameStyleRT{
  width: 4.5rem;
  height: auto;
  position: absolute;
  top: 0.6rem;
  left: 6rem;
  z-index: 101;
  transform: rotate(5deg)
}
.dice .content .topLuckyNum .moreGameDiv  .gameStyleRT img{
  width: 4.5rem;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}
.dice .content .topLuckyNum .moreGameDiv  .gameStyleRT span{
  width: 4.5rem;
  height: auto;
  position: absolute;
  font-size: 1.2rem;
  top: 1.4rem;
  color: #FFFFFF;
  left: 0.12rem;
  z-index: 101;
  transform:rotate(47deg)
}
.dice .content .topLuckyNum .moreGameDiv  .gameColor3 .gameStyleRT img{
  left: 0.3rem!important;
}
.dice .content .topLuckyNum .moreGameDiv  .gameColor4 .gameStyleRT img{
  left: 0.3rem!important;
}
.dice .content .topLuckyNum .moreGameDiv  .gameStyleRT .gameStyleRTS3{
  top: 1.5rem!important;
  left: -0.1rem!important;
}
.dice .content .topLuckyNum .moreGameDiv  .gameStyleRT .gameStyleRTS4{
  top: 1.5rem!important;
  left: -0.1rem!important;
}
.dice .content .topLuckyNum .moreGameDiv  .gameColor2{
  z-index: 99;
}
.dice .content .topLuckyNum .moreGameDiv  .gameColor3{
  z-index: 98;
}
.dice .content .topLuckyNum .moreGameDiv  .gameColor4{
  z-index: 97;
}
.dice .content .topLuckyNum .moreGameDiv  .oneDiv{
  left: 0;
  z-index: 100;
  transition-duration: 0.6s;
}
.dice .content .topLuckyNum .moreGameDiv .twoDiv{
  left: 22%;
  z-index: 99;
  transition-duration: 0.6s;
}
.dice .content .topLuckyNum .moreGameDiv .threeDiv{
  left: 44%;
  z-index: 98;
  transition-duration: 0.6s;
}
.dice .content .topLuckyNum .moreGameDiv .fourDiv{
  left: 66%;
  z-index: 97;
  transition-duration: 0.6s;
}
/* 第一大部分左2部分 */
.dice .content .luckyLeft{
  font-size: 2.8rem;
  /* font-weight: bolder; */
  margin-left: 8rem;
  vertical-align: middle;
}
.dice .content .luckyLeft p:nth-of-type(2){
  font-size: 2rem;
  /* font-weight: bolder; */
}

/* 第一大部分中间部分 */
.dice .content .luckyCenter{
  width: 7.4rem;
  text-align: center;
  font-size: 6rem;
  vertical-align: middle;
}
.dice .content .luckyCenter span{
  margin-top: 0.5rem;
  display: inline-block;
}
/* 第一大部分右1部分 */
.dice .content .luckyRight{
  /* margin-left: 0.5rem; */
  font-size: 3rem;
}
.dice .content .luckyRightTop{
  margin-left: 0.5rem;
}
.dice .content .luckyRightCenter{
  margin-left: 1.3rem;
  margin-bottom: -0.1rem;
  margin-top: -0.1rem;
  font-size: 2.2rem;
}
.dice .content .luckyRight .luckyType{
  font-size: 1.2rem;
  margin-left: 0.1rem;
}
.dice .content .luckyRightBottom{
  font-size: 0;
  margin-left: 0.5rem;
}

.dice  .aaa img{
  width: 1rem;
  margin: 0 0.35rem;
}
.dice .content .luckyRight img{
  width: 1.4rem;
  margin-left: -0.3rem;
}
/* 第一大部分右2部分 */
.dice .content .qiandao img{
  width: 6rem;
  margin-left: 0.8rem;
  margin-top: 1rem;
}
/* 老虎机样式部分 */
.dice .topLunboImg{
  width: 98%;
  margin-left: 1%;
  position: relative;
}
.dice .topLunboImg .imgBG1{
  width: 100%;
  height: 18.3rem;
  position: absolute;
}
.dice .topLunboImg .imgBG2{
  width: 100%;
  height: 18.3rem;
  position: absolute;
}
.dice .topLunboImg .dynamicLan{
  width: 100%;
  height: 18.3rem;
  position: absolute;
}
.dice .topLunboImg .dynamicZi{
  width: 100%;
  height: 18.3rem;
  position: absolute;
}
.dice .topLunboImg .dynamicBai{
  width: 100%;
  height: 18.3rem;
  position: absolute;
}
.dice .topLunboImg .dynamicHuang{
  width:100%;
  height: 18.3rem;
  position: absolute;
}
/* 下注状态 */
.dice .topLunboImg .MaskAnimate{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.dice .topLunboImg .slotMask{
  width: 95%;
  height: 16.8rem;
  position: absolute;
  top: 0.7rem;
  left: 2.5%;
  /* background: rgba(246, 120, 120, 0.8); */
  z-index: 1000;
}
/* 下注赢状态 */
.dice .topLunboImg .slotsWin{
  width: 45%;
  position: absolute;
  top: 2.5rem;
  left: 50%;
  z-index: 10;
  margin-left: -22.5%;
  transform: scale(1.2)
}
.dice .topLunboImg .slotMaskNumWin1{
  width: 100%;
  position: absolute;
  top: 10.5rem;
  font-size: 1.8rem;
  color: #f1228e;
  text-align: center;
  z-index: 10;
}
/* 下注输状态 */
.dice .topLunboImg .slotsLose{
  width: 45%;
  position: absolute;
  top: 4rem;
  left: 50%;
  z-index: 10;
  margin-left: -22.5%;
  transform: scale(1.2)
}
.dice .topLunboImg .slotMaskNumLose{
  width: 100%;
  position: absolute;
  top: 10.5rem;
  font-size: 1.8rem;
  color: #20abcc;
  text-align: center;
  z-index: 10;
  box-sizing: border-box;
}
/* 大奖状态 */
.dice .topLunboImg .bigReward{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.dice .topLunboImg .bigRewardImg1{
  width: 20rem;
  margin-bottom: -3rem;
  z-index: 10;
}
.dice .topLunboImg .bigRewardImg2{
  width: 30rem;
  z-index: 10;
}
.dice .topLunboImg .bigRewardImg3{
  width: 30rem;
  position: absolute;
  z-index: 10;
}
.dice .topLunboImg .bigRewardImg4{
  width: 30rem;
  position: absolute;
  left: -30%;
  z-index: 10;
}
.dice .topLunboImg .bigRewardImg5{
  width: 30rem;
  position: absolute;
  right: -30%;
  z-index: 10;
}



/* 老虎机上方资料 */
.dice .topLunboImg .laohujiTotal{
  width: 95%;
  margin-top: 1.2rem;
  margin-left: 2.5%;
  height: 3.2rem;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* background: #ee7b7b; */
}
.dice .topLunboImg .laohujiTotalLeft{
  flex: 1;
  text-align: center;
  color: #e2faff;
  font-size: 1.4rem;
  /* margin-left: 2.3rem; */
}
.dice .topLunboImg .totalBettingOne img{
  width: 3.5rem;
  margin-left: 0.2rem;
}
.dice .topLunboImg .minningEKDOne img{
  width: 2rem;
  margin-left: 0.2rem;
  margin-top: -0.3rem;
  vertical-align: middle;
}
.dice .topLunboImg .jieduan1 img{
  width: 2.5rem;
  /* margin-left: 0.2rem; */
  margin-top: -0.3rem;
  vertical-align: middle;
}
.dice .topLunboImg .laohujiTotalLeftP2 img{
  height: 1.6rem;
  vertical-align: middle;
}
.dice .topLunboImg .laohujiTotalCenter{
  flex: 1;
  text-align: center;
  color: #e2faff;
  font-size: 1.4rem;
  /* margin-left: 2.3rem; */
}
.dice .topLunboImg .laohujiTotalCenterP2 img{
  width: 1.6rem;
  vertical-align: middle;
}
.dice .topLunboImg .laohujiTotalCenter span{
  line-height: 1.6rem;
  vertical-align: middle;
}
.dice .topLunboImg .laohujiTotalRight{
  flex: 1;
  text-align: center;
  color: #e2faff;
  font-size: 1.4rem;
  /* margin-left: 2.3rem; */
}
.dice .topLunboImg .laohujiTotalRight span{
  line-height: 1.6rem;
  vertical-align: middle;
}
/* 老虎机 */
.dice .laohuji{
  width: 95%;
  margin-top: 4.9rem;
  margin-left: 2.5%;
  height: 11.9rem;
  /* background: rgba(104, 204, 243, 0.6); */
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice .laohuji .slot_num{
  width: 90%;
  height: 100%;
  position: absolute;
  left: 5%;
  z-index: 1;
}
.dice .laohuji .imgShadowOne{
  width: 31%;
  height: 105%;
  position: absolute;
  top: 0;
  left: -0.1rem;
  z-index: 30;
}
.dice .laohuji .imgShadowTwo{
  width: 31%;
  height: 105%;
  position: absolute;
  top: -2px;
  left: 35%;
  z-index: 30;
}
.dice .laohuji .imgShadowThree{
  width: 30%;
  height: 105%;
  position: absolute;
  top: -2px;
  left: 72%;
  z-index: 30;
}
.dice .laohuji .numOne{
  width: 8.4rem;
  height: 100%;
  /* background: rgba(104, 204, 243, 0.6); */
  background: url("../images/dice/jin0-1.png") repeat-y;
  background-position: 60% -13rem;
  background-size: 6rem;
  position: absolute;
  /* left: 5%; */
  z-index: 1;
}
.dice .laohuji .numTwo{
  width: 28%;
  height: 100%;
  /* background: rgba(118, 167, 247, 0.6); */
  background: url("../images/dice/jin0-9.png") repeat-y;
  background-position: 60% -5.5rem;
  background-size: 6rem;
  position: absolute;
  left: 36.1%;
  z-index: 1;
}
.dice .laohuji .numThree{
  width: 28%;
  height: 100%;
  /* background: rgba(104, 204, 243, 0.6); */
  background:url("../images/dice/jin0-9.png") repeat-y;
  background-position: 60% -5.5rem;
  background-size: 6rem;
  position: absolute;
  left: 72.3%;
  z-index: 1;
}

/* 可拖拽进度条 */
.dice .contentDrop .progressDiv{
  width: 90%;
  height: 1.5rem;
  background: #374D57;
  margin-left: 5%;
  border-radius: 1.5rem;
  position: relative;
  margin-top: 22.3rem;
}
.dice .contentDrop .slider{
  width: 100%;
  height:1.5rem;
  margin: auto;
  background: #374D57;
  border-radius: 1.5rem;
  position: relative;
}
.dice .contentDrop .progree{
  position: absolute;
  top: 0;
  left: 0;
  width: 11rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #E65545;
}
.dice .progressDiv .thunk {
  position: absolute;
  left: 7rem;
  top: -1.5rem;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 2;
}
.dice .progressDiv .block {
  width: 4.5rem;
  height: 4.5rem;
  background: url('../images/dice/tuidonganniu.png')no-repeat;
  background-size: contain;
}
.dice .progressDiv .tips {
  width: 100%;
  position: absolute;
  top: -2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  color: #fff;
}

/* 动态变化框 */
.dice .progressState{
  width: 90%;
  height: 6rem;
  margin-left: 5%;
  margin-top: 1.5rem;
  border-radius: 0.8rem;
  border: 2px solid #6BE1FC;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e2faff;
  justify-content: center;
  background: #1A2229;
  font-size: 0;
}
.dice .progressState .proitem{
  flex: 1;
}
.dice .progressState  p{
  font-size: 1.8rem;
}
.dice .progressState  p img{
  width: 4.5rem;
}
.dice .progressState  p .payoutImg{
  width: 2.4rem;
}
.dice .progressState  .botP{
  margin-top: 0.8rem;
}
/* 事件框 */
.dice .eventState{
  width: 90%;
  margin-left: 5%;
  margin-top: 2rem;
  color: white;
  font-size: 0;
}
.dice .eventState .eventStateTop{
  font-size: 2rem;
}
.dice .eventState .eventDiv{
  width: 100%;
  display: flex;
}
.dice .eventState .eventLeft{
  width: 50%;
  overflow: hidden;
}
.dice .eventState .eventLeftTop{
  width: 100%;
  position: relative;
  display: flex;
}
.dice .eventState .eventLeft .selectDiv{
  width: 5rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.2rem;
  background: #E65545;
  border: 0;
  font-size: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
}
.dice .eventState .eventLeft .selectFont{
  font-size: 2rem;
}
.dice .eventState .eventLeft .selected img{
  width: 1rem;
  margin: 0 0.5rem;
}
.dice .eventState .eventLeft .selectDiv .optionDiv{
  width: 5rem;
  height: 3rem;
  background:#374D57;
  border: 0;
  font-size: 2rem;
  padding-left: 1.98rem;
  position: absolute;
  top: 2.5rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.dice .eventState .eventLeft .inputNum{
  flex: 1;
  text-align: center;
  height: 3rem;
  background:#374D57;
  border-radius: 0.4rem;
  vertical-align: middle;
  font-size: 2rem;
  text-indent: 5rem;
  border: 0;
  color: white;
  overflow: hidden;
}
.dice .eventState .eventLeft .eventLeftBottom{
  display: flex;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  margin-top: 1rem;
}
.dice .eventState .eventLeft .eventLeftBottom span{
  flex: 1;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.4rem;
}
.dice .eventState .eventRight{
  width: 50%;
  font-size: 0;
  /* margin-top: 21px; */
  display: inline-block;
}
.dice .eventState .eventRight .eosNum{
  width: 90%;
  height: 3rem;
  line-height: 3rem;
  margin-left: 5%;
  background: #374D57;
  font-size: 2rem;
  vertical-align: middle;
  border-radius: 0.4rem;
}
.dice .eventState .eventRight .eosNum img{
  width: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.dice .eventState .eventRight .ekdNum{
  width: 90%;
  height: 3rem;
  line-height: 3rem;
  margin-left: 5%;
  margin-top: 1rem;
  background: #374D57;
  font-size: 2rem;
  border-radius: 0.4rem;
}
.dice .eventState .eventRight .ekdNum img{
  width: 2rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.dice .gameStart{
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.dice .gameStart .leftGo{
  width: 8.44rem;
  height:7.319rem;
  display: inline-block;
  font-size: 4rem;
  background-size: 100% 100%;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.dice .eventState .leftGo:active{
  transform: scale(.95)
}
.dice .eventState .leftGo:visited{
  transform: scale(1)
}
.dice .gameStart .leftAuto{
  width: 8.44rem;
  height:7.319rem;
  display: inline-block;
  font-size: 3.6rem;
  background-size: 100% 100%;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.dice .gameStart .leftAuto:active{
  transform: scale(.95)
}
.dice .gameStart .leftAuto:visited{
  transform: scale(1)
}
.dice .gameStart .audioDiv{
  position: absolute;
  right: 5%;
  top: 50%;
  margin-top: -1rem;
}
.dice .gameStart .audioDiv img{
  width: 3rem;
}
.dice .eventState .leftGo span{
  display: inline-block;
  position: absolute;
  top: 1.7rem;
  left: 3.1rem;
  vertical-align: middle;
}
.dice .eventState .leftGo span img{
  width: 4.5rem;
  position: absolute;
  top: 0.5rem;
  left: -0.7rem;
  vertical-align: middle;
}
.dice .eventState .leftAuto span{
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 0.7rem;
  vertical-align: middle;
}
.dice .eventState .leftAuto span img{
  width: 4.5rem;
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  vertical-align: middle;
}
.dice .diceRank{
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1rem;
  border: 1px solid #E2E1E3;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.dice  .diceRank .rankTop{
  display: flex;
  margin-top: 1rem;
}
.dice .diceRank .rankTop p{
  flex: 1;
  color: #374D57;
  font-size: 1.8rem;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.dice .diceRank .rankTop .rankingHR_24{
  position: absolute;
  font-size: 0.8rem;
  color: #e2faff;
  top: 1.7rem;
  left: 3rem;
}
.dice  .diceRank .rankTop .rankImg{
  width: 3rem;
  position: absolute;
  font-size: 0.8rem;
  top: -1.5rem;
  left: 5rem;
}
.dice  .diceRank .diceChat{
  margin-top: 1rem;
}
.dice  .diceRank .diceChat .chatOn{
  width: 30%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  display: inline-block;
  background: #E75546;
  vertical-align: middle;
  color: white;
  font-size: 1.6rem;
}
.dice  .diceRank .diceChat .chatInput{
  width: 68%;
  height: 2rem;
  line-height: 2rem;
  text-indent: 1rem;
  margin-left: 0.2rem;
  border-radius: 0.5rem;
  display: inline-block;
  background: #374D58;
  font-size: 1.6rem;
  border: 0;
  vertical-align: middle;
}
.dice .rankTop .allBet{
  width: 6rem!important;
  flex: none!important;
}
.dice .rankTop .allBet img{
  width: 4.8rem;
}
.dice .rankTop .myBet img{
  width: 4.8rem;
}
.dice .rankTop .hr24Img{
  width: 6rem;
}
.dice .rankTop .allBets .wenhao{
  width: 1.5rem;
  vertical-align: middle;
}
.dice .rankTop .ekd100Img{
  width: 3rem;
  position: absolute;
  top: -1.4rem;
  left: 4rem;
}
.dice .rightBottomName{
  width: 90%;
  height: 2.2rem;
  margin-left: 5%;
  font-size: 1.1rem;
  background: #20424D;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #e2faff;
}
.dice .rightBottomTime{
  width: 90%;
  height: 2.2rem;
  line-height: 2.4rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 5%;
  margin-bottom: 0.3rem;
  text-align: center;
  color: #e2faff;
  background: #20424D;
  vertical-align: middle;
}
.dice .rightBottomTime img{
  transform: scale(.8);
  vertical-align: middle;
  cursor: pointer;
  margin-top: -0.4rem;
}
.dice .rightBottomTime .nextImg{
  transform: scale(.8) rotate(180deg);
}
.dice .rightBottomTime .qishuOneNum1{
  display: inline-block;
  height: 2.2rem;
  margin:0 1rem;
  vertical-align: middle;
}
.dice .rightBottomTime .qishuOneNum2{
  display: inline-block;
  height: 2.4rem;
  margin:0 1rem;
  vertical-align: middle;
}
.dice .rightBottomTime span .qishu{
  display: inline-block;
  height: 2.2rem;
  line-height: 2.2rem;
  margin: 0 0.5rem 0;
  vertical-align: middle;
}
.dice .rightBottomTime span img{
  width: 1.3rem;
  vertical-align: middle;
}
.dice .contentRank img{
  width: 1.5rem;
}
.dice .contentRank .betting_amount img{
  width: 3rem;
}
.dice .contentRank .ranking_reward img{
  width: 3rem;
}
.dice .contentRank .ekd_reward img{
  width: 3rem;
}
.dice .contentRank .lucky img{
  width: 3rem;
}
.dice .contentRank .win_price img{
  width: 3rem;
}
.dice .contentRank .time{
  flex: none!important;
  width: 6rem!important;
  margin-top: 0.2rem;
}
.dice .contentRank .player{
  flex: 1.2;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}
.dice .contentRank .win_price{
  flex: 1.2;
  position: relative;
  margin-top: 0.2rem;
}
.dice .contentRank li .win_price{
  height: 2.2rem;
}
.dice .contentRank .win_price .eosekdNum {
  position: absolute;
  right: 3.2rem;
  vertical-align: middle;
}
.dice .contentRank .win_price .eosekdType {
  position: absolute;
  right: 1rem;
  vertical-align: middle;
}
.dice .contentRank .result {
  flex: 0.6;
  /* padding-right: -0.3rem; */
}
.dice .contentRank .verification{
  flex: 1;
  position: relative;
  margin-top: 0.2rem;
}
.dice .contentRank .ranking{
  width: 7rem;
}
.dice .contentRank .betting_amount{
  flex: 1.2;
  position: relative;
}
.dice .contentRank li .betting_amount{
  height: 2.2rem;
}
.dice .contentRank .betting_amount .eosekdNum {
  position: absolute;
  right: 3.6rem;
  vertical-align: middle;
}
.dice .contentRank .betting_amount .eosekdType {
  position: absolute;
  right: 1.4rem;
  vertical-align: middle;
}
.dice .contentRank .ranking_reward{
  flex: 1;
}
.dice .contentRank .bonus{
  width: 3rem;
}
.dice .contentRank .ekd_reward{
  flex: 1;
}
.dice .contentRank .lucky{
  width: 12%;
}
.dice .rightBottomInfo{
  width: 90%;
  margin-left: 5%;
  margin-top: 0.5rem;
  font-size: 0;
  margin-bottom: 0;
  
  border-radius:0.5rem;
  font-family: "Microsoft YaHei";
  color: #e2faff;
}
.dice .contentRank .verificationInfo img{
  width: 4.5rem;
  vertical-align: middle;
}
.dice .contentRank .verificationInfo span{
  position: absolute;
  top: 0.05rem;
  left: 1.5rem;
  vertical-align: middle;
}
.dice .rightBottomInfo li .myImg{
  width: 1.8rem;
  position: absolute;
  top: 0;
  left: 0;
}
.dice .rightBottomInfo li:nth-of-type(1){
  margin-top: 0!important;
}
.dice .rightBottomInfo li{
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  margin-top: 0.3rem;
  float: none;
  font-size: 1rem;
  background: #364C57;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}
.dice .luckRank li{
  font-size: 0.9rem!important;
}
.dice .rightBottomInfo .myRank{
  position: relative;
  overflow: hidden;
}
.dice .rightBottomInfo .myRank img{
  position: absolute;
  top: -1px;
  left: 0;
  height: 100%;
}
.dice .toCheck{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dice .toCheck .checkDiv{
  width: 85%;
  background: white;
  border-radius: 0.5rem;
  background: #111723;
  border: 2px solid #6BE1FC;
  font-family: "Microsoft YaHei";
  overflow: hidden;
  position: relative;
}
.dice .toCheck .checkDiv .outcheckDiv{
  width: 3rem;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
.dice .toCheck .checkDiv ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  position: relative;
}
.dice .toCheck .checkDiv li{
  width: 90%;
  margin-left: 5%;
  box-sizing: border-box;
  display: flex;
  font-size: 0;
  position: relative;
  vertical-align: middle;
}
.dice .toCheck .checkDiv li span{
  width: 25%;
  line-height: 1.3rem;
  font-size: 0.8rem;
  color: #E2FAFF;
  margin-top: 0.5rem;
  text-align: right;
  vertical-align: middle;
}
.dice .toCheck .checkDiv input{
  width: 69%;
  line-height: 1.3rem;
  border: 1px solid #334952;
  vertical-align: middle;
  margin-top: 0.2rem;
  font-size: 0.7rem;
  background: #6A7D94;
  border-radius: 3px;
  text-indent: 2px;
  color: #E2FAFF;
  white-space:normal;
  word-wrap:break-word;
  word-break:break-all;
  outline: none;
}
.dice .toCheck .checkDiv .setUserSeed{
  position: absolute;
  top:9%;
  left: 52%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.dice .toCheck .checkDiv .setUserSeed nav{
  font-size:0.9rem;
  color: #E2FAFF;
  margin-left: 0.9rem;
}
.dice .toCheck .checkDiv .setUserSeed input{
  margin-top: 0;
}
.dice .toCheck .checkDiv .first{
  width: 30%;
  text-align: center;
  flex: none;
}
.dice .toCheck .checkDiv .rand_seed,.Next_seed{
  width: 50%;
  flex: none;
}
.dice .toCheck .checkDiv .rand_seed span{
  width: 50%;
  flex: none;
  display: inline-block;
  text-align: right;
}
.dice .toCheck .checkDiv .rand_seed input{
  width: 50%;
  flex: none;
}
.dice .toCheck .checkDiv .setUserSeed aside span {
  width: 3rem;
  height: 1.5rem;
  /* margin-left: 5px; */
  /* margin-top: 5px; */
  /* line-height: 25px; */
  display: inline-block;
  background: url("../images/dice/anniu.png")no-repeat;
  background-size: 100% 100%;
  text-align: center;
  color: #6A7D94;
  font-size: 0.6rem;
  vertical-align: middle;
}
.dice .toCheck .checkDiv .Next_seed span{
  width: 40%;
  margin-left: 5%;
  flex: none;
  display: inline-block;
  text-align: right;
}
.dice .toCheck .checkDiv .Next_seed input{
  width: 40%;
  flex: none;
}
.dice .toCheck .checkDiv .pubkey{
  width: 95%;
  flex: none;
}
.dice .toCheck .checkDiv .pubkey span{
  width: 23.5%;
  flex: none;
}
.dice .toCheck .checkDiv .pubkey textarea{
  width: 70%;
  line-height: 1.3rem;
  border: 1px solid #334952;
  vertical-align: middle;
  margin-top: 2.5px;
  font-size: 0.7rem;
  color: #E2FAFF;
  background: #6A7D94;
  border-radius: 3px;
  text-indent: 2px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
}
.dice .toCheck .checkDiv .combine_seed{
  width: 68%;
  flex: none;
}
.dice .toCheck .checkDiv .combine_seed span{
  width: 33%;
  flex: none;
}
.dice .toCheck .checkDiv .second{
  padding-right: 15px;
  float:none;
}
.dice .toCheck .checkDiv .second span{
  width: 26%;
  flex: none;
  /* background: red; */
}
.dice .toCheck .checkDiv .sign{
  padding-right: 0.5rem;
}
.dice .toCheck .checkDiv .sign span{
  width: 25.5%;
}
.dice .toCheck .checkDiv .sign textarea{
  width: 67%;
  line-height: 1.3rem;
  border: 1px solid #334952;
  vertical-align: middle;
  margin-top: 0.2rem;
  font-size: 0.7rem;
  color: #E2FAFF;
  background: #6A7D94;
  border-radius: 3px;
  text-indent: 2px;
  white-space:normal;
  word-wrap:break-word;
  word-break:break-all;
  outline: none;
}
.dice .toCheck .checkDiv li img{
  width: 1.3rem;
  position: absolute;
  right: 0.3rem;
  vertical-align: middle;
}
.dice .toCheck .checkDiv li .right{
}
/* .dice .toCheck .checkDiv li .err{
  width: 0.3rem;
  top: 0.1rem;
  right: 0.3rem;
} */
.dice .toCheck .checkDiv .sign img{
  position: absolute;
  top: 50%;
  margin-top: -1.0rem;
  right: 1%;
}
.dice .toCheck .checkDiv .random img{
  position: absolute;
  top:30%;
  /* bottom: 5%; */
  margin-top: -0.2rem;
  right: 60%;
}
.dice .toCheck .checkDiv .random .err{
  width: 0.9rem;
  top: 0.8rem;
  right: 60.8%;
}
.dice .toCheck .checkDiv .Combine_seed_hash textarea{
  width: 70%;
  line-height: 1.3rem;
  border:0;
  font-size: 0.7rem;
  margin-left: 0.1rem;
  margin-top: 0.4rem;
  color: #E2FAFF;
  background: transparent;
  border-radius: 3px;
  /* text-indent: 0.7rem; */
  white-space:normal;
  word-wrap:break-word;
  word-break:break-all;
  outline: none;
  vertical-align: middle;
}
.dice .toCheck .checkDiv .sign_hash textarea{
  width: 71%;
  /* height: 1.4rem; */
  line-height: 1.3rem;
  border:0;
  vertical-align: middle;
  margin-top: 0.2rem;
  font-size: 0.7rem;
  color: #E2FAFF;
  background: transparent;
  border-radius: 3px;
  text-indent: 2px;
  white-space:normal;
  word-wrap:break-word;
  word-break:break-all;
  outline: none;
}
.dice .toCheck .checkDiv .toCheckBtn{
  width: 5.3rem;
  line-height: 2rem;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  right: 10%;
  bottom: 0.7rem;
  background: url("../images/dice/check.png")no-repeat;
  background-size: contain;
}

/* 韩文模式下样式调整-----↓---- */
.dice .span1{
  top: 2rem!important;
  left: 2.2rem!important;
  font-size: 3.7rem!important;
}
.dice .span2{
  left: 1.4rem!important;
}
/* 中文模式下样式调整----↑---- */



