@font-face{
  font-family: 'fz';
  src: url('../font/fzry.TTF');
}
@font-face{
  font-family: 'hw';
  src: url('../font/NanumBarunGothic.ttf');
}
@font-face {
  font-family: 'xx';   
  src:url('../font/SDSWAGGERTTF.TTF')     
}