.share_out{
    width: 100%;
    padding-top: 5.8rem;
    /* padding: 5.8rem 0; */
    box-sizing: border-box;
    background: linear-gradient(#FF9966,#ED6471);
}
.shareTop{
  margin-top: 5.8rem;
  position: relative;
}
.shareTop_Input{
  background: #DC4263;
  color: white;
}
.shareTop_Uninput{
  background: #F1F1F1;
  color: black;
}
.swiper-container {
  width: 100%;
}
.shareTop .swiper-slide{
  width: 70%!important;
  margin: 0 10% 0 22.2%;
  height: 32rem;
  overflow: hidden;
}




/* 轮播图第一部分 */
.shareTop .slide1{
  display: flex;
  height: 32rem;
  flex-direction: column;
  background: white;
  border-radius: 0.9rem;
  overflow: hidden;
}
.shareTop .slide1 .slide1Top{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #FFE4C5;
  height: 5rem;
}
.shareTop .slide1 .slide1Top div{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.shareTop .slide1 .slide1Top div:nth-of-type(1){
  border-right: 1px solid #FFE4C5;
  border-top-left-radius: 0.9rem;
}
.shareTop .slide1 .slide1Top div:nth-of-type(2){
  border-top-right-radius: 0.9rem;
}

/* 统计部分 */
.shareTop .slide1Content1{
  display: flex;
  flex-direction: column;
}
.shareTop .slide1Content1Top .clearfix{
  display: flex;
  flex-direction: column;
}
.shareTop .slide1Content1Top li{
  display: inline-block;
}
.shareTop .slide1Content1Top .row{
  margin-top: 2rem;
  font-size: 0;
}
.shareTop .slide1Content1Top li .span1{
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: middle;
  font-size: 1rem;
  text-align: center;
}
.shareTop .slide1Content1Top li .press{
  display: inline-block;
  width: 60%;
  height: 1.6rem;
  border-radius: 1rem;
  vertical-align: middle;
  background-color: #eaeaea;
  position: relative;
  margin: 0 1%;
  overflow: hidden;
  font-size: 1.3rem;
  
}
.shareTop .slide1Content1Top li .press span{
  display: inline-block;
  width: 100%;
  height: 1.6rem;
  text-align: center;
  position: relative;
  z-index: 1000!important;
  font-size: 1.2rem;
  
  
  
}
.shareTop .slide1Content1Top li .alreadypre{
  height: 1.6rem;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  background: #ee516b;
  overflow: hidden;
}
.shareTop .slide1Content1Top li .total{
  display: inline-block;
  width: 17%;
  height: 100%;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}
.shareTop .slide1Content1Top li p{
  width: 100%;
  font-size: 1rem;
  font-weight: 1000;
  text-align: center;
  margin-top: 1rem;
}
.shareTop .slide1Content1Bottom{
  width: 70%;
  height: 3.6rem;
  border: 2px solid #f7b6b0;
  border-radius: 2.2rem;
  margin: auto;
  text-align: center;
  line-height: 3.6rem;
  font-size: 1.3rem;
  color: #2c2c2c;
  margin-top: 2.6rem;
}




/* 排行榜部分 */
.shareTop .slide1Content2{
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* .shareTop .slide1Content2 .platformList::-webkit-scrollbar {
  display: none;
} */
.shareTop .slide1Content2 .platformList{
  overflow-y: scroll;
  flex: 1;
  /* background: #666; */
}
.shareTop .slide1Content2 .Listhead{
  height: 2.2rem;
  line-height: 2.2rem;
  display: block;
  background-color: #f4f4f4;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  padding: 0 3%;
}
.shareTop .slide1Content2 .platformListli{
  height: 2.2rem;
  line-height: 2.2rem;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  padding: 0 3%;
}
.shareTop .slide1Content2  span{
  text-align: center;
  font-size: 1.2rem;
}
.shareTop .slide1Content2  .left{
  flex: 1;
}
.shareTop .slide1Content2  .center{
  flex: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shareTop .slide1Content2 .platformList .center{
  text-align: left;
}
.shareTop .slide1Content2 .platformList .right{
  text-align: right;
  margin-right: 1rem;
}
.shareTop .slide1Content2  .right{
  flex: 3;
}
.shareTop .swiperMask{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(55,55,55,.2);
}
.UnswiperMask{
  display: none!important;
}










/* 轮播图第二部分 */
.shareTop .slide2{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.9rem;
  overflow: hidden;
}
.shareTop .slide2 .slide2Top{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #FFE4C5;
  height: 5rem;
}
.shareTop .slide2 .slide2Top div{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.shareTop .slide2 .slide2Top div:nth-of-type(1){
  border-right: 1px solid #FFE4C5;
  border-top-left-radius: 0.9rem;
}
.shareTop .slide2 .slide2Top div:nth-of-type(2){
  border-top-right-radius: 0.9rem;
}

/* 分红池 */
.shareTop .slide2 .slide2Content1{
  width: 100%;
  flex: 1;
  /* background: blue; */
  display: flex;
  flex-direction: column;
}
/* 分红池第一部分 */
.shareTop .slide2 .slide2Content1 .slide2Content1Top{
  width: 100%;
  height: 11.9rem;
  /* background: red; */
  font-size: 0;
}
.shareTop .slide2Content1Top p{
  text-align: center;
}
.shareTop .slide2Content1Top p:nth-of-type(1){
  margin-top: 5%;
  font-size: 1.5rem;
  color: #ED4966;
}
.shareTop .slide2Content1Top p:nth-of-type(2){
  font-size: 2.2rem;
  margin-top: 2%;
  font-weight: 700;
}
.shareTop .slide2Content1Top p:nth-of-type(3){
  height: 2.4rem;
  line-height: 2.4rem;
  margin-left: 40%;
  text-align: left;
  padding-left: 10%;
  background: url('../images/share_out/eoslogo.png') no-repeat;
  background-size:contain;
  font-size: 1.2rem;
  margin-top: 2%;
  font-weight: 700;

}
/* 分红池第二部分 */
.shareTop .slide2 .slide2Content1 .slide2Content1Center{
  width: 100%;
  height: 6.7rem;
  /* background: green; */
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
.shareTop .slide2Content1Center p{
  text-align: center;
}
.shareTop .slide2Content1Center p:nth-of-type(1){
  margin-top: 5%;
  font-size: 1rem;
  margin-bottom: 1%;
}
.shareTop .slide2Content1Center p:nth-of-type(2){
  font-size: 1.4rem;
  color: #ED4663;
}
.shareTop .slide2Content1Center p:nth-of-type(2) span{
  font-size: 0.9rem;
  color: black;
  font-weight: 700;
  
}
.shareTop .slide2Content1Center p:nth-of-type(2) img{
  margin-left: 2%;
  margin-bottom: 0.5%;
  background-size: 50% 50%;
}
/* 分红池第三部分 */
.shareTop .slide2 .slide2Content1 .slide2Content1Bottom{
  width: 100%;
  flex: 1;
  border-bottom-left-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  position: relative;
}
.shareTop .slide2Content1Bottom p{
  text-align: center;
}
.shareTop .slide2Content1Bottom p:nth-of-type(1){
  margin-top: 5%;
  font-size: 1rem;
  /* margin-bottom: 1%; */
}
.shareTop .slide2Content1Bottom p:nth-of-type(2){
  /* margin-top: 0rem; */
  font-size: 1.4rem;
  color: #ED4663;
}
.shareTop .slide2Content1Bottom p:nth-of-type(2) span{
  font-size: 0.9rem;
  color: black;
  font-weight: 700;
  
}
.shareTop .slide2Content1Bottom p:nth-of-type(2) img{
  margin-left: 2%;
  margin-bottom: 0.5%;
  background-size: 50% 50%;
}
.shareTop  .dibu {
  width: 65%;
  position: absolute;
  bottom: 0.5rem;
  height: 2.5rem;
  border-radius: 8rem;
  border: 1px solid #a6a6a6;
  margin-left: 17.5%;
  vertical-align: middle;
}
.shareTop  .dibu img:nth-of-type(1){
  opacity: 0.7; 
  width: 12%;
  vertical-align: middle;
}
.shareTop  .dibu .con6_last{
  width: 50%;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: left;
  font-size: 1.5rem;
  color: #a6a6a6;
  vertical-align: middle;
}
.shareTop  .dibu .receive{
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
}
.shareTop  .dibu .receive img{
  width: 5rem;
  vertical-align: middle;
}
.shareTop .slide2Content1Bottom .slide2Content1BottomImg{
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2%;
  bottom: 7%;
}
.shareTop  .share_rule{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.shareTop  .share_ruleImg{
  width: 75%;
  position: absolute;
  right: 1%;
  top: 99%;
}


/* 分红记录 */
.shareTop .slide2 .slide2Content2{
  width: 100%;
  flex: 1;
  /* background: gray; */
   display: flex;
  flex-direction: column;
  /*flex-direction: column; */
}
/* 分红记录第一部分 */
.shareTop .slide2 .slide2Content2Top{
  width: 100%;
  /* height: 5.6rem; */
  display: flex;
  flex-direction: column;
}
/* .shareTop .slide2 .slide2Content2Top{
  width: 100%;
} */
.shareTop .slide2 .slide2Content2Top div{
  width: 60%;
  height: 2.8rem;
  line-height: 2.5rem;
  margin: 0.8rem auto 0;
  padding: 0 5%;
  box-sizing: border-box;
  text-align: center;
  background: url('../images/../images/share_out/tit_bg.png') no-repeat;
  background-size: 100% 100%;
  color: white;
}
.shareTop .slide2 .slide2Content2Top div span{
  /* display: inline-block; */
  /* width: 2rem; */
  color: #fffd5e;
}
.shareTop .slide2 .slide2Content2Top p{
  font-size: 1rem;
  text-align: center;
  margin: 1% 0 4%;
}
/* 分红记录第二部分 */
.shareTop .slide2 .slide2Content2Center{
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.shareTop .slide2 .slide2Content2Center img{
  transform: scale(.5);
  margin-top: 1%;
}
.shareTop .slide2 .slide2Content2Center .worldTime{
  position: absolute;
  right: 3%;
  font-size: 1rem;
  transform: scale(.9);
  font-weight: 700;
}
/* 分红记录第三部分 */
.shareTop .slide2 .slide2Content2Bottom{
  flex: 1;
  overflow-x: scroll;
  /* background: #666; */
}
.shareTop .slide2 .slide2Content2Bottom::-webkit-scrollbar {
  display: none;
}
.shareTop .slide2 .platformListli{
  height: 2.2rem;
  line-height: 2.2rem;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  padding: 0 3%;
}
.shareTop .slide2 .platformListli span{
  flex: 1;
  text-align: center;
  font-size: 1.4rem;

}



/* 轮播图第三部分 */
.shareTop .slide3{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.9rem;
  overflow: hidden;
}
.shareTop .slide3 .slide3Top{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #FFE4C5;
  height: 5rem;
}
.shareTop .slide3 .slide3Top div{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.shareTop .slide3 .slide3Top div{
  border-right: 1px solid #FFE4C5;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
}
.shareTop .slide3Content3{
  flex: 1;
}
.shareTop .slide3Content3Top{
  width: 90%;
  /* margin-top: 5%; */
  margin-left: 3%
}
.shareTop .slide3Content3Top img{
  width: 100%;
}
.shareTop .slide3Content3Bottom div{
  width: 70%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 2.2rem;
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 3rem;
  border: 2px solid #f7b6b0;
}
.shareTop .slide3Content3Bottom .bottom3div2{
  margin-top: 1rem;
}

/* 分红池整体中部 */
.shareCenter{
  width: 100%;
  height: 4.1rem;
  line-height: 4.1rem;
  margin: 5rem 0;
  /* margin: 5rem 1rem 0; */
  box-sizing: border-box;
}
.shareCenterPadd{
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 0.7rem;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}
.shareCenter .zhiya{
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: normal;
}
.shareCenter .zhiya p:nth-of-type(1){
  font-size: 1rem;
}
.shareCenter .zhiya p:nth-of-type(1) span{
  transform: scale(.9);
  display: inline-block;
}
.shareCenter .zhiya p:nth-of-type(2){
  font-size: 1.1rem;
  color: #EE4F6B;
}
.shareCenter .zhiya p:nth-of-type(2) span{
  transform: scale(.8);
  display: inline-block;
  color: black;
  /* padding-top: 1rem; */
}
.shareCenter .baifen{
  width: 5.7rem;
  height: 2.5rem;
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;
  background: #EBEBEB;
  border-radius: 3rem;
  font-size: 1.2rem;
  color: #EE4F6B;
  font-weight: 700;
}
.shareCenter .centerImg{
  width: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shareCenter .centerImg img{
  width: 100%;
}
/* 分红池整体底部 */
.shareBot{
  width: 100%;
  height: 3.5rem;
  background: #384D57;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 分红池界面三大状态弹框 */
.mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(55,55,55,.6);
}




/* 记录弹框 */
.showjiluContent{
  width: 80%;
  height: 32rem;
  position: fixed;
  top: 12rem;
  margin-left: 10%;
  border-radius: 1.8rem;
  padding: 0 1.8rem;
  background: white;
  overflow: hidden;
  z-index: 100!important;
}
.share_out  .showjiluContentTop{
  width: 100%;
  /* height: 5.6rem; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.share_out  .showjiluContentTop div{
  width: 60%;
  height: 2.8rem;
  line-height: 2.8rem;
  font-size: 1.6rem;
  margin: 0.8rem auto 0;
  /* padding: 0 5%; */
  box-sizing: border-box;
  text-align: center;
  background: url('../images/../images/share_out/tit_bg.png') no-repeat;
  background-size: 100% 100%;
  color: white;
}
.share_out  .showjiluContentTop div span{
  /* display: inline-block; */
  /* width: 2rem; */
  color: #fffd5e;
}
.share_out  .showjiluContentTop p{
  font-size: 1rem;
  text-align: center;
  margin: 1% 0 4%;
}
.showjiluContentTopCancle{
  width: 4rem;
  position: absolute;
  top: 0.5rem;
  right: -1.5rem;
}
/* 个人记录第二部分 */
.share_out  .showjiluContentCenter{
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.share_out  .showjiluContentCenter img{
  transform: scale(.5);
  margin-top: 1%;
}
/* 个人记录第三部分 */
.share_out .showjiluContentBottom{
  flex: 1;
  overflow-x: scroll;
  /* background: #666; */
}
.share_out  .showjiluContentBottom::-webkit-scrollbar {
  display: none;
}
.share_out .showjiluContentBottom .platformListli{
  height: 2.6rem;
  line-height: 2.6rem;
  display: block;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  /* padding: 0 3%; */
}
.share_out .showjiluContentBottom .platformListli span{
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
}


/* 质押弹框状态 */
.showzhiyaContent{
  width: 90%;
  /* height: 11.7rem; */
  position: fixed;
  top: 40%;
  margin-left: 5%;
  border-radius: 1.8rem;
  padding: 0 1.8rem;
  background: white;
  overflow: hidden;
  z-index: 100!important;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.showzhiyaContent .top{
  width: 100%;
  text-align: center;
  margin-top: 1.8rem;
  font-size: 0;
}
.showzhiyaContent .top span{
  font-size: 1rem;
}
.showzhiyaContentTopCancle{
  width: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.showzhiyaContent .centerinput{
  width: 100%;
}
.showzhiyaContent .centerInputDiv{
  width: 80%;
  height: 2rem;
  margin: auto;
  position: relative;
  /* background: #666; */
}
.showzhiyaContent .inputOne{
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 1%;
  margin-top: -0.75rem;
  position: absolute;
}
.showzhiyaContent .inputOne img{
  width: 100%;
}
.showzhiyaContent .inputTwo{
  width: 100%;
  height: 2rem;
  /* padding-right: 110px; */
  padding-left: 10%;
  border-radius: 0.9rem;
  border: 1px solid #ccc;
  /* margin: auto; */
  font-size: 1.4rem;
  color: #EE4F6B;
}
.showzhiyaContent .inputThree{
  width: 4rem;
  /* height: 1.5rem; */
  top: 50%;
  right: 1%;
  margin-top: -0.75rem;
  position: absolute;
}
.showzhiyaContent .inputThree img{
  width: 100%;
}
.showzhiyaContent .centerbtn{
  width: 6.6rem;
  /* margin-top: 1rem; */
  margin:1rem auto 0;
}
.showzhiyaContent .centerbtn img{
  width: 100%;
}
.showzhiyaContent .bottom{
  width: 100%;
  /* height: 2rem; */
  text-align: center;
  font-size: 0;
}
.showzhiyaContent .bottom .spanAll{
  display: inline-block;
  height: 100%;
  /* line-height: 2rem; */
  vertical-align: middle;
}
.showzhiyaContent .bottom .spanAll span:nth-of-type(1){
  color: #e04564;
  font-size: 1rem;
}
.showzhiyaContent .bottom .spanAll span:nth-of-type(2){
  font-size: 1rem;
  display: inline-block;
  transform: scale(.9)
}
.showzhiyaContent .bottom .bottomImg{
  display: inline-block;
  width: 6rem;
  margin-left: -1rem;
  vertical-align: middle;
}
.showzhiyaContent .bottom .bottomImg img{
  width: 100%;
}
/* 赎回弹框状态 */
.showshuhuiContent{
  width: 90%;
  /* height: 11.7rem; */
  position: fixed;
  top: 40%;
  margin-left: 5%;
  border-radius: 1.8rem;
  padding: 0 1.8rem;
  background: white;
  overflow: hidden;
  z-index: 100!important;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.showshuhuiContent .top{
  width: 100%;
  text-align: center;
  margin-top: 1.8rem;
  font-size: 0;
}
.showshuhuiContent .top span{
  font-size: 1rem;
}
.showshuhuiContentTopCancle{
  width: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.showshuhuiContent .centerinput{
  width: 100%;
}
.showshuhuiContent .centerInputDiv{
  width: 80%;
  height: 2rem;
  margin: auto;
  position: relative;
  /* background: #666; */
}
.showshuhuiContent .inputOne{
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 1%;
  margin-top: -0.75rem;
  position: absolute;
}
.showshuhuiContent .inputOne img{
  width: 100%;
}
.showshuhuiContent .inputTwo{
  width: 100%;
  height: 2rem;
  /* padding-right: 110px; */
  padding-left: 10%;
  border-radius: 0.9rem;
  border: 1px solid #ccc;
  /* margin: auto; */
  font-size: 1.4rem;
  color: #EE4F6B;
}
.showshuhuiContent .inputThree{
  width: 4rem;
  /* height: 1.5rem; */
  top: 50%;
  right: 1%;
  margin-top: -0.75rem;
  position: absolute;
}
.showshuhuiContent .inputThree img{
  width: 100%;
}
.showshuhuiContent .centerbtn{
  width: 6.6rem;
  /* margin-top: 1rem; */
  margin:1rem auto 0;
}
.showshuhuiContent .centerbtn img{
  width: 100%;
}
.showshuhuiContent .bottom{
  width: 100%;
  /* height: 2rem; */
  text-align: center;
  font-size: 0;
}
.showshuhuiContent .bottom .spanAll{
  display: inline-block;
  height: 100%;
  /* line-height: 2rem; */
  vertical-align: middle;
}
.showshuhuiContent .bottom .spanAll span:nth-of-type(1){
  color: #e04564;
  font-size: 1rem;
}
.showshuhuiContent .bottom .spanAll span:nth-of-type(2){
  font-size: 1rem;
  display: inline-block;
  transform: scale(.9)
}
.showshuhuiContent .bottom .bottomImg{
  display: inline-block;
  width: 6rem;
  margin-left: -1rem;
  vertical-align: middle;
}
.showshuhuiContent .bottom .bottomImg img{
  width: 100%;
}
.showshuhuiContent .bottom p{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.el-popup-parent--hidden{
  padding-right: 0!important;
}
.el-message-box__wrapper {
  position: fixed!important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 20003;
  background: rgba(55,55,55,.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-message-box {
  display: inline-block;
  width: 90%;
  padding-bottom: 1rem;
  vertical-align: middle;
  background-color: #FFF;
  border-radius: 1rem;
  border: 1px solid #EBEEF5;
  font-size: 1.8rem;
  box-shadow: 0 2px 1.2rem 0 rgba(0,0,0,.1);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
}
.el-message-box__header {
  position: relative;
  padding: 1.5rem 1.5rem 1rem;
}
.el-message-box__content {
  position: relative;
  padding: 1rem 1.5rem;
  color: #606266;
  font-size: 1.4rem;
}
.el-message-box__btns {
  padding: 0.5rem 1.5rem 0;
  text-align: right;
}
.el-button--primary {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
  border: 0;
  padding: 0 1rem;
}



 .bgc1{
  position: fixed;
  top: 0;
  background: url("../images/share_out/chongzhichenggong.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:50%;
  height:9rem;
  border-width:0px;
  margin-left: 22%;
  margin-top: 3.5rem;
  z-index: 20003;
}
 .bgc2{
  background: url("../images/share_out/chongzhishibai.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:50%;
  height:9rem;
  border-width:0px;
  margin-left: 22%;
  margin-top: 3.5rem;
  z-index: 20003;
}
.el-icon-info{
  display: none;
}
.hidebg { 
  position:absolute;left:0px;top:0px;
  background-color:#000;
  width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
  filter:alpha(opacity=60);  /*设置透明度为60%*/
  opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
  display:none; /* http://www.jb51.net */
  z-Index:2;
}
.hidebox { 
   position:absolute;
   width:400px;
   height:300px;
   top:200px;
   left:30%;
   background-color:#fff;
   display:none;
   cursor:pointer;
   z-Index:3;
  }
.el-button{ 
   text-align:center;
   cursor:pointer;
   z-Index:1;
  }

  .share_out .tankuang{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(55, 55, 55, .5);
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .share_out .tankuang div{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .share_out .tankuang img:nth-of-type(1){
    width: 90%;
    position: absolute;
    top: 40%;
    left: 5%;
  }
  .share_out .tankuang img:nth-of-type(2){
    width: 7%;
    position: absolute;
    top: 41%;
    right: 7%;
  }


  .share_out #exchanges div{
    width: 100%!important;
    height: 100%!important;
  }