body{
    padding-top: 100px;
    min-width: 415px;

}

ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
ul li{
    float: left;
}
.unified_limit_width{
  width: 70%;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 980px;
  display:-webkit-box;
  margin-left: 200px;
}

.Mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1003;
    background-color: rgba(55, 55, 55, .6)
}
.Mask .show{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 60%;
    border-radius: 1rem;
    overflow: hidden;
}
.Mask .show .showTitle{
    width: 100%;
    height: 3rem;
    background: linear-gradient(#f5ab75,#e65e4e);
}
.Mask .show .showContent{
    width: 100%;
    /* height: 12rem; */
    background: white;
    font-size: 1.3rem;
    text-indent: 2.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* 首页 */

.banner{
    padding: 5% 0;
    background: url("../images/firstpage/bg.png") repeat-x;
}
.banner img{
    width: 100%;
}

.banner .left{
    text-align: center;
    padding-left: 0;
}
@media (min-width: 1200px) and (max-width:2000px){

    .banner{
        padding: 1.5% 0;
    }
    .banner .left{
        text-align: left;
    }
    .game-list{
        padding-top: 1%;
    }
}
.banner .left .text{
    padding-top: 10%;
}
.banner .left .text p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}

.computer img{
    display: block;
    width: 122%;
    /* width: 640px; */
    /* height: 400px; */
}
@media (max-width: 990px){
    .computer img{
        display: block;
        width: 100%;
        /* width: 640px; */
        /* height: 400px; */
    }
}
.gamelist{
    /* padding: 3% 0; */
    max-width: 1920px;
    min-width: 980px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top:20px ;
    margin-bottom:18px;
    margin-left: 12%;
    
}
.gamelist > .container{
    text-align: center;
    padding: 1.3% 0;
}
.gamelist img{
    width:60%;
}
@media (min-width: 660px) and (max-width: 990px){
    .gamelist img{
        width: 70%;
    }
}
.banner .carousel-control.right{
    background: transparent;
}
.banner .carousel-control.left{
    background: transparent;
}
  .way{
    height: calc(100vh - 40px);
    padding: 10% 0 0 !important;
  }
  .team{
    height: calc(100vh - 120px);
  }
  .teamtitle_{
    margin-top: 85px;
  }
  .share_out .content{
    background: url('../images/share_out/share_out_bonus_bg.png') repeat-x;
    padding: 150px 0 0 0 ;
    height: calc(100vh - 50px) !important;
  }
  .server{
    height: calc(100vh - 60px);
  }
  .ICO_bg{
    min-height: 595px;
  }
  .shouyi{
    height: calc(100vh - 40px);
  }

.way{
  padding:11% 0

}
.downCount{
  margin-top: 120px;
  position: relative;
}
.downCount ul{
    float: left;
    width: 535px;
    margin-left: -3%;
}
.downCount ul li.maohao{
    width: 30px;
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
.downCount ul li.time {
    width: 20%;
    /* width: 70px; */
    position: relative;
    height: 60px;
    overflow: hidden;
}
.downCount ul li.time span{
    width: 47%;
}
@media (max-width: 410px) {
    .downCount ul li.time {
        width: 60px;
        height: 49px;
    }
}
.downCount ul li span{
    float: left;
    width: 47%;
    height: 100%;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    border-radius: 3px;
}
.downCount ul li span.border{
    margin-right: 3%;

}
.proAll .icontop img{
    width: 40px;
}
.prograss span{
    display: inline-block;
    height: 100%;
    width: 25%;
    border-right: 1px solid #ccc;
}
.prograss span.noborder{
    border: none;
}
.proTextL, .proTextR{
    width: 100px;
    height: 50px;
    position: absolute;
    color: #fff;
    line-height: 70px;
    /* top: 70px; */
    left: 18%;
}
.proTextR{
    left: 60%;
}
/* 我们的服务 */
.server{
    padding: 50px 0 0 0;
}
.server-title{
    width: 100%;
}
.server-title img{
    width: 100%;
}
/* 五个元素的布局 */
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    /* width: 33%; */
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 768px) {
    .col-sm-1-5, .col-xs-1-5 {
        width: 50%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}
.server-list{
    text-align: center;
    padding: 5% 0 0 0;
    margin-left: 11%;
}
.server-list img{
    width: 80%;
   
}
.server-list img.dot{
    width: 93px;
    height: 12px;
    margin-top: 75%;
}
.server-list li{
    float: left;
    padding-bottom: 10%;
    font-size: 16px;
    line-height: 30px;
}
@media (min-width: 770px) and (max-width: 990px){
    .col-sm-1-5{
        width: 33%;
    }
}
@media (min-width: 450px) and (max-width: 770px){
    .col-sm-1-5{
        width: 33%;
    }
}
/* 收益 */
.shouyi{
    padding-top: 40px;
    background-color: #ec7e6a;
}
.shouyilist{
    width: 100%;
    text-align: center;
    padding:15% 0 5% 0;
}
.shouyiTitle img{
    width: 85%;
    margin-bottom: 35px;
    padding-left: 13%;
    margin-top: -25px;
}

.shouyilist img{
    width: 100%;
}

@media (max-width: 768px){
    .shouyilist img {
        width: 50%;
        /* float: left; */
    }
    .shouyilist img.shouyiicon{
        float: right;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 4%;
    }
    .shouyilist img.rig{
        float: left;
        width: 50%;
    }
    .shouyilist .container div{
        height: 200px;
    }
}
/* way */

/* 合作 */
.team{
    background-color: #102231;
    float: left;
    height: 650px;
    width: 100%;
}
.team .teamlist{
    padding-top: 125px;
}
.teamtitle img{
    width: 100%;
}
.teamlist li img{
    width: 90%;
}
/* 分享人 */

.referrer_window_con{
    border-radius: 20px;
    margin:5% auto;
    background-color: #fff;
    text-align: center;
    position: relative;
}
.referrer_window_con .tit span{
    padding-top: 70px;
    font-size: 32px;
    color: #ec7e6a;
}
.referrer_window_con .btn{
    position: absolute;
    right: 5px;
    top: -30px;
    cursor: pointer;
}
.referrer_window_con .ipt{
    position: relative;
    width: 516px;
    height: 45px;
    margin: auto;
}
.referrer_window_con .ipt input{
    width: 516px;
    height: 45px;
    border-radius: 20px;
    padding-right: 104px;
    padding-left: 5px;
    font-size: 17px;
    color: #515a6e;
    border: 2px solid #515a6e8a;
 
}
.referrer_window_con .ipt .btn{
    width: 104px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    background-color: #6abdfa;
    top: 5px;
    right: 5px;
    border-radius: 16px;
    padding: 0;
    color: #fff;
}
.referrer_window_con p{
    font-size: 14px;
    margin-top: 25px;
}
.referrer_window_con p label{
    color: #ec7e6a;
}


