.home{
  background: #120A15;
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: scroll;
}
p,span{
  -moz-user-select:none;/*火狐*/
  -webkit-user-select:none;/*webkit浏览器*/
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;/*早期浏览器*/
  user-select:none;
}
	
.home::-webkit-scrollbar { display: none; }
img{
  vertical-align: middle;
}
  /* 全局文字 */
.linearTxt{
  background-image: linear-gradient(to bottom, #ffffff, #FFE5B6 70%,#E8B658 71%,#E8B658);
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: transparent;
  font-size: 1.35rem;
  line-height: 2.2rem;
}
/* 动态样式 */
.bottomBorder{
  border-bottom:2px transparent solid;
  border-image:linear-gradient(to right,#D2AD57 ,#FFFFEF) 1 10;
}
.home .txtDiv p span{
  padding-left: 5%;
}
.home .title{
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.home .tableDiv{
  border: 1px solid #a38672;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.home .tableDiv .flexDiv{
  display: flex;
  margin: 0.7rem;
}
.home .tableDiv .flexDiv .leftImg{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0;
}
.home .tableDiv .flexDiv .leftImg .img{
  width: 70%;
  position: relative;
}
.home .tableDiv .flexDiv .leftImg .img .publicImg{
  width: 5rem;
}
.home .tableDiv .flexDiv .leftImg .img1{
  width: 30%;
  position: relative;
  margin: 0 0.7rem;
}
.home .tableDiv .flexDiv .leftImg .img1 .publicImg{
  width: 3.5rem;
}
.home .tableDiv .flexDiv .leftImg .img2{
  /* width: 73%; */
  position: relative;
  /* margin: 0 0.7rem; */
}
.home .tableDiv .flexDiv .leftImg .img2 .dayuhao{
  display: inline-block;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bold;
}
.home .tableDiv .flexDiv .leftImg .img2 .dayuhao span{
  vertical-align: middle;
  font-size: 3rem;
}
.home .tableDiv .flexDiv .leftImg .img2 .publicImg{
  width: 4.5rem;
}
.home .publicImg2{
  position: absolute;
  right: 0;
}
.home .tableDiv .flexDiv .rightInfo{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .tableDiv .flexDiv .rightInfo .info{
  line-height: 1.5rem;
  color: #bbbbbb;
  font-size: 1rem;
}
