body,ul, li, p, h3{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
  }
ul{
    list-style: none;
}
#app > .container-fluid{
    /* height: 100px; */
    padding: 0;
}
body{
    width: 100%;
    /* padding: 0 auto; */
    
}
input{
    outline: none;
}
