#phone{
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}
.modalK .fontSZ{
  font-size: 1.2rem;
}
.modalK .ivu-modal-mask{
  overflow: hidden;
}
.modalK .fontSZ span{
  font-size: 1.2rem;
}
.modalK .ivu-modal-content{
  border-radius: 1rem!important;
}
.modalK .ivu-modal-footer{
  padding: 0.5rem 1.8rem 0.5rem 0;
}

  /* 轮播图 */
  .swiper-container1 {
    width: 100%;
    /* height: 20rem; */
    margin-top: 5.8rem;
    background: url("../../assets/images/phone/lunbo_bg.png") repeat-x;
    background-size: 100% 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  .swiper-container1 .swiper-wrapper div {
    box-sizing: border-box;
    padding: 0.8rem 0.4rem 1.5rem;
  }

  .shadow{
    width: 100%;
    z-index: 5;
    position: absolute;
    bottom: 3.4rem;
    box-sizing: border-box;
    text-align: center;
  }
  .shadow img{
    width: 95%;
  }
  
  
  /* 内容 */
  /* 通用样式 */
  .toRed{
    color: #D92155!important;
  }
  .content{
    width: 100%;
    box-sizing: border-box;
  }
  .content ul{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  .content ul li{
    width: 49%;
    display: inline-block;
    text-align: center;
  }
  .content ul li img{
    width: 70%;
  }
  .font-style{
    font-size: 1rem;
    color: #727272;
    font-weight: bold;
    margin-bottom: 1rem;
  }
.swiper-pagination-bullet {
  background: #763238;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.4rem!important;
}
.swiper-pagination-bullet-active {
  background: #dddddd;
}
#app{
  /* height: 100%; */
  position: relative;
}
.phone{
  height: 100%;
}

/* 推荐人 */
.shareDiv{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1003;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ivu-modal {
  /* width: auto; */
  margin: 0 auto;
  position: relative;
  outline: 0;
  top: 0 !important;
}





/* 分享人 */
.referrer_window_con{
  /* border-radius: 4rem; */
  margin:0 auto;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.referrer_window_con .tit{
  height: 4rem;
  line-height: 4rem;
}
.referrer_window_con .tit span{
  /* padding-top: 5rem; */
  font-size: 2rem;
  color: #ec7e6a;
}
.referrer_window_con .btn{
  position: absolute;
  right: -1rem;
  top: 5%;
  cursor: pointer;
}
.referrer_window_con .ipt{
  position: relative;
  width: 100%;
  height: 3rem;
  margin: auto;
}
.referrer_window_con .ipt input{
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  padding-right: 4.7rem;
  padding-left: 0.5rem;
  border: 2px solid #b9b9b9;
}
.referrer_window_con .ipt .btn1{
  width: 4.5rem;
  height: 2.1rem;
  line-height: 2.1rem;
  position: absolute;
  background-color: #6abdfa;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 1.6rem;
  padding: 0;
  color: #fff;
}
.referrer_window_con p{
  /* width: 100%; */
  font-size: 1rem;
  margin-top: 1rem;
}
.referrer_window_con p label{
  color: #ec7e6a;
}
.shareDiv .ivu-modal{
  width: 90%!important;
}
.shareDiv .ivu-modal-content{
  width: 100%;
  border-radius: 2rem!important;
}
.shareDiv .ivu-modal-body{
  padding: 0 1.6rem 1.6rem;
}
















.showInfo{
  position: absolute;
  top:30px;
  left:0;
  padding-top:20px;
  background: red;
  width:calc(100% + 4px);
  border:#cfcfcf 2px solid;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: -1;
  margin-left: -2px;
}
.showInfo dd{
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: #c5c4c2 1px solid;
  color: #606060;
  box-sizing: border-box;
  padding: 0 4px 16px;
}
.showInfo dd:last-child{
  border:0;
  text-align: center;
  letter-spacing: 6px;
  font-size: 14px;
}
.showInfo dd:nth-child(2){
  color: #3ecad6;
}
.showInfo dd p{
  padding-left: 37px;
  background: url('../../assets/images/nav/icon01.png') 0px center no-repeat;
  text-align: center;
}
.showInfo dd:nth-child(2) p{
  background: url('../../assets/images/nav/icon02.png') 0px center no-repeat;
}


/* 公告部分 */
.Mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(55, 55, 55, .6);
  overflow-y: hidden;
}
.noticeDiv{
  position: fixed;
  top: 30%;
  z-index: 1000;
  width: 90%;
  height: 31rem;
  margin-left: 5%;
  border-radius: 1.3rem;
  background-color: white;
  overflow: hidden;
}
.noticeDiv .noticeShow{
  background: linear-gradient(#f35979, #c12646);
  height: 3.4rem;
  position: relative;
  color: #f7a18a;
  font-size: 1.7em;
  font-weight: 600;
  text-shadow: 0px 1px 0px #c0c0c0, 0px 2px 0px #b0b0b0, 0px 3px 0px #a0a0a0, 0px 4px 0px #909090, 0px 5px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  line-height: 3.4rem;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noticeDiv .noticeShow .left{
  width: 3rem;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}
.noticeDiv .noticeShow .titleNameImg{
  height: 1.7rem;
}
.noticeDiv .noticeShow .right{
  width: 3rem;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  /* display: inline-block */
}
.noticeDiv .ivu-table td, .ivu-table th {
  /* width: 70%!important; */
  height: 2.5rem!important;
  /* padding-top: 1rem; */
  box-sizing: border-box;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 0.6rem;
  border-bottom: 1px solid #e8eaec;
}
.noticeDiv .ivu-table-cell {
  padding-left: 0;
  padding-right: 0;
  position: relative;top:30%;
}
.noticeDiv .ivu-table-column-center .ivu-table-cell{
  text-align: center;
}
.noticeDiv .paging{
  text-align: center;
}
.noticeDiv .noticetitle{
  text-align: center;
  margin-top: 1rem;
  font-size:1.3rem;
  font-weight: bold;
}
.noticeDiv .contentStyle{
  height: 24.2rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: left;
  text-indent: 2.4rem;
  overflow-y: scroll;
}
.noticeDiv .contentStyle::-webkit-scrollbar{
  width: 1rem;
  background-color: #F1F1F1;
}
.noticeDiv .contentStyle::-webkit-scrollbar-thumb{
  background-color: #C1C1C1;
}
